/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: 0 15px 30px rgba(0,0,0,.5); /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 2px solid #000000;
  font-weight: bold;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-rendering: auto;
  font-weight: 1000;
  text-align: center;
  text-shadow: 0 15px 30px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */



/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot {
    width: 50%;
    left: 25%;}

}

.cover-container {
  background-color: #000000;
  opacity: 0.5;
  z-index: -400;
  width: 100%;
}

.backgroundphil {
  height: 100vh;
}

.inner-cover {
  height: 100vh;
  padding: 60px;
}

.centerblurb {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;

}

#apply {
  background-size: cover;
}

#about {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
}

#abtblurb {
  text-align: left;
}

#companies {
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.mosaic td{
  padding: 10px;
}

.mosaic img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

#sponsors {
  padding-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.sponsorship img {
  display: block;
  max-height:450px;
  max-width: 500px;
  width: auto;
  height: auto;
}

.sponsorship td{
  padding: 40px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;

}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("img/background3.jpg");
  }

  .fullscreen-bg__video {
    display: none;
  }
}


@@media (max-device-width:480px) {
  .site-wrapper{
    background-color: black;
  }
}
